body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.brand a {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.nav-list li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #401473;
}

.top-section {
    background-image: url('https://jpinacolas.github.io/static/assets/img/banner_web.jpg');
    height: 275px;
    background-size: cover;
    background-position: center;
    background-color: #e0dde2;
    margin-top: 0px; /* Offset for fixed navbar */
}

.avatar {
    display: flex;
    justify-content: center;
    margin-top: -70px;
}

.avatar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section {
    top: -70px;
    padding: 20px 0;
    background-color: #f8f9fa;
}

.section:nth-child(even) {
    top: -70px;
    background-color: #e4e2e6;
}

.section header {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
}

.section h2 {
    font-size: 2rem;
    color: #333;
    text-transform: uppercase;
}

.subtitle {
    text-align: center;
    color: #7248a1;
    margin-bottom: 30px;
    margin-top: 0px;
}

.social-icons {
    margin-top: 20px;
    text-align: center; /* Center the icons */
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px; /* Adjust size as needed */
    color: #7248a1; /* Blue color for icons */
    transition: color 0.3s;
}

.social-icon:hover {
    color: #401473; /* Darker blue on hover */
}

.social-icon i {
    font-size: inherit; /* Ensure icon size matches parent */
}

.main-body {
    max-width: 1000px; /* Adjust this value to control the width of the content */
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.6;
}

.main-body a {
    color: #7248a1; /* Blue color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make text bold */
    transition: color 0.3s;
}

.main-body a:hover {
    color: #401473; /* Darker blue on hover */
    text-decoration: underline; /* Add underline on hover */
}

.publication-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Space between publication items */
}

.teaser-image {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 20px; /* Space between the image and the text */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.publication-info h3 {
    margin: 0 0 10px 0; /* Space below the title */
    font-size: 1.2rem;
    color: #333;
}

.publication-info p {
    margin: 5px 0;
    color: #666;
    line-height: 1.5;
}


.footer {
    background-color: #392055;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px;
}

.timeline-date {
    font-weight: bold;
    color: #666;
    width: 200px;
    flex-shrink: 0;
}

.timeline-content {
    display: flex;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% - 140px);
}

.career-image {
    width: 75px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.timeline-info h3 {
    margin: 0 0 10px 0; /* Space below the title */
    font-size: 1.2rem;
    color: #333;
}

.timeline-info p {
    margin: 5px 0;
    line-height: 1.5;
    color: #666;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: 20px;
    width: 10px;
    height: 10px;
    background-color: #7248a1;
    border-radius: 50%;
    top: 20px;
}

.timeline-item::after {
    content: '';
    position: absolute;
    left: 24px;
    top: 28px;
    width: 2px;
    height: calc(100% + 20px);
    background-color: #7248a1;
}

.timeline-item:last-child::after {
    display: none;
}


.stays {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

.stay-image {
    width: auto; /* Adjust the width as needed */
    height: 100px; /* Maintain the aspect ratio */
}

.stay-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px;
}

.stay-content {
    display: flex;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% - 140px);
}

.stay-info h3 {
    margin: 0 0 10px 0; /* Space below the title */
    padding-left: 15px;
    font-size: 1.2rem;
    color: #333;
}

.stay-info p {
    padding-left: 15px;
}